body {
    margin: 20px;
}

.form-inline {
    margin-bottom: 30px;
}

.form-control {
    border: 1px solid #D49999;
    width: 250px;
}

.form-control2 {
    border: 1px solid #D49999;
    width: 100px;
}

.form-group label {
    font-weight: 400;
    margin-right: 10px;
}

.form-group input {
    border-left: 1px solid #888;
    margin-left: 5px;
    padding-left: 5px;
    color: #333;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    height: calc(2.25rem + 2px);
}

.form-inline button, .btn-link:active {
    border-left: 1px solid #888;
    margin-left: 15px;
    padding-left: 15px;
    color: #333;
    cursor: pointer;
    outline: none;
}
.form-inline button:hover, .btn-link:active, .btn-link:focus  {
    border-left: 1px solid #888;
    color: #8E7060;
    text-decoration: none;
    outline: none;
}
.form-inline button .glyphicon {
    margin-right: 5px;
}